/* ---- STRUCT ---- */
body {
    margin: unset;
    background-color: antiquewhite;
    color: #212529 !important;
    letter-spacing: 0.05rem;
    min-height: 95vh;
    font-size: 1.1rem;
}

.container {
    padding: 0.5rem 10rem;
}

@media (max-width: 1000px) {
    .container {
        padding: 0.5rem 1.5rem;
    }
}

header {
    background-color: #344f8a;
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 6rem 3rem;
    text-align: center;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/* ---- END ---- */

/* ---- TIPOGRAFIA ---- */
h1, h2, h3, h4, p, ul, li, span, a, button, th, td, label, input, select, option {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

select, option {
    font-size: 0.9rem !important;
}

h1 {
    margin: 0.5rem 0;
    width: 30%;
    text-align: start;
}

.banner em {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    color: gold;
}

.h2-card, 
.h3-card,
.p-card {
    margin: 1rem 0;
    line-height: 1.6rem !important;
    text-align: justify;
}

.unstyle-list {
    list-style: none;
}

/* ---- END ---- */

/* ---- MENU ---- */
.nav-main {
    display: inherit !important;
    justify-content: inherit !important;
    align-items: inherit;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: end;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #344f8a;
}

.menu-itens {
    gap: 0.9rem;
    display: flex;
    width: 70%;
    line-height: 1.5rem; 
    justify-content: end !important;
}

.menu-itens a:hover {
    border-bottom: 1px solid white;
} 

@media (max-width: 1000px) {
    .menu-itens {
        display: inline-grid;
        gap: 0.7rem;
    }
}

.menu-itens>a {
    color: white;
    text-decoration: none;
}
/* ---- END ---- */

/* ---- CARD ---- */
.card-body {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: -3rem 0 4rem 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/* ---- END ---- */

/* ---- FOOTER ---- */
footer {
    color: white;
    background-color: #344f8a;
    font-size: 0.9rem !important;
}

/* ---- FAZER IMPLANTAÇÃO NO CSS ---- */
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
}

@media (max-width: 1000px) {
    .form {
        padding: 0.5rem 0 !important;
    }
}

.form-header {
    text-align: unset;
    margin-top: 0;

}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

input {
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    font-size: 1rem;
    height: 35px;
    padding-left: 0.5rem;
}

.resultado {
    margin-top: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border-left: 2px solid #007bff;
    font-size: 1.1rem;
}

/* ---- END ---- */

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 40%;
  transform: translateY(-40%);

  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* posições laterais */
.nav-btn.left {
  left: 8.5rem;
}

.nav-btn.right {
  right: 8.5rem;
}

@media (max-width: 1100px) {
  .nav-btn.left {
    left: 0.5rem;
  }
  .nav-btn.right {
    right: 0.5rem;
  }
}

.table-message {
    display: none;
}

@media (max-width: 1100px) {
    table {
        display: none;
    }

    .table-message {
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 16px;
    }
}