/* Display */
.d-flex {
    display: flex;
}

@media (max-width: 1100px) {
    .d-flex {
        display: grid;
    }
}

/* Display Column */
.d-flex-comun {
    display: flex;
    flex-direction: column;
}

/* Justify Content */
.justify-content-between {
    justify-content: space-between;
}

/* Padding */
.p-0 {
    padding: 0;
}

.p-small {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

/* Margin */
.m-auto {
    margin: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Text Align */
.text-end {
    display: flex;
    justify-content: end;
}

.text-center {
    text-align: center;
}

/* Text */
.text-link {
    text-decoration: none;
}

.text-link:hover {
    border-bottom: 1px solid white;
}

.text-primary {
    color: #1a0dab;;
}

.text-white {
    color: white;
}

/* Unstyled List */
footer ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

/* Gap */
.g-1 {
    gap: 1rem;
}

.g-2 {
    gap: 2rem;
}

@media (max-width: 1100px) {
    .g-1, .g-2 {
        gap: 1rem;
    }
}

/* Width */
.w-50 {
    width: 50%;
}

/* Border  */
.b-1 {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

/* Background  */
.bg-white {
    background-color: white;
}